.bg {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, rgb(34, 139, 230), rgb(10, 63, 142));

  backdrop-filter: blur(307.5px);

  position: relative;

  &::after {
    content: "";

    background: url("../assets/images/bg.png") no-repeat right center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
  }
}

.appChat {
  margin: 0 auto;

  padding: 34px 5px;

  position: relative;

  z-index: 10;
}
