@import "@styles/variables.scss";

.message {
  display: flex;
  gap: 13px;

  animation-name: move;
  animation-duration: 0.5s;
}

.text {
  border-radius: 28px;

  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;

  padding: 12px 20px;

  max-width: 400px;
}

.userMessage {
  color: #fff;

  background: #007afe;

  order: -1;

  margin-left: auto;
}

.botMessage {
  color: #000;

  background: rgba(34, 118, 245, 0.2);
}

@keyframes move {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
